<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="cn.edu.sdut.project.mapper.CommodityMapper">
    <select id="queryCommodityByname" parameterType="Commodity" resultType="Commodity">
        select * from commodity
        <where>
            <if test="commodityTitle!=null and commodityTitle!=''">
                and commodityTitle like concat("%",#{commodityTitle},"%")
            </if>
        </where>
    </select>
    <select id="queryCommodities" resultType="Commodity">
        select commodityId,commodityTitle,commodityType,manuDate,groundDate,qualityPeriod from commodity order by sort desc
    </select>

    <insert id="addCommodity" parameterType="Commodity">
        insert into commodity values(#{commodityId},#{commodityTitle},
        #{commodityType},#{manuDate,jdbcType=DATE},#{groundDate,jdbcType=DATE},#{qualityPeriod},null)
    </insert>

    <update id="updateCommodity" parameterType="Commodity">
        update commodity
        <set>
            <if test="commodityTitle!=null and commodityTitle!=''">
                commodityTitle=#{commodityTitle},
            </if>
            <if test="commodityType!=null and commodityType!=''">
                commodityType=#{commodityType},
            </if>
            <if test="manuDate!=null">
                manuDate=#{manuDate,jdbcType=DATE},
            </if>
            <if test="groundDate!=null">
                groundDate=#{groundDate,jdbcType=DATE},
            </if>
            <if test="qualityPeriod!=null and qualityPeriod!=''">
                qualityPeriod=#{qualityPeriod},
            </if>
        </set>
        where commodityId=#{commodityId}
    </update>

    <delete id="deleteCommodity" parameterType="String">
        delete from commodity where commodityId=#{commodityId}
    </delete>
</mapper>